# Aula 6 - tuplas, dicionários e conjuntos

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Tuplas
- 2) Dicionários
- 3) Conjuntos

_____________

### Problema gerador: como fazer um sistema de cadastro em Python?

Queremos armazenar vários nomes, idades, cidade de residência, etc. Como fazer isso de maneira melhor que utilizando listas?

____
____
____

## 1) Tuplas

Até o momento, temos utilizado **listas** pra armazenar uma coleção de dados.

Aprenderemos agora sobre uma nova **estrutura de dados**: tuplas!

Tuplas são estruturas bastante parecidas com listas:

- Podem guardar **tipos diferentes de dados**;
- São indexadas (podemos **acessar elementos por índices**);
- São iteráveis (**podemos percorrer com o `for`**).

A principal diferença é: tuplas são **imutáveis**!

Para tuplas **não é possível**: alterar elementos individuais, adicionar elementos, remover elementos ou alterar a ordem dos elementos. Uma vez criada, não é possível alterar nada de uma tupla!

Mas, então, pra que servem as tuplas?

- É um jeito de **sinalizar que esses dados não deveriam ser alterados**;

- É um meio de garantir que os elementos estarão **em uma ordem específica**;

- O acesso a elementos de uma tupla **é bem mais rápido**.

Tuplas são inicializadas como uma **sequência de valores entre parênteses ()**

In [1]:
tupla = (1, 4.2, True, "ada", [1, 2, 3])

In [2]:
tupla

(1, 4.2, True, 'ada', [1, 2, 3])

In [3]:
len(tupla)

5

No entanto, é possível definir tuplas sem a utilização de parênteses, apenas **listando os elementos, separados por vírgula**

In [5]:
tupla2 = 1, 2, 3, "a", "b"

In [6]:
# tuple unpacking

x, y = 2, 3

# x = 2
# y = 3

In [7]:
x

2

In [8]:
y

3

Operações com tuplas

In [9]:
tupla

(1, 4.2, True, 'ada', [1, 2, 3])

In [10]:
# tuplas são indexáveis!
tupla[1]

4.2

In [12]:
tupla[-2]

'ada'

In [13]:
for elemento in tupla:
  print(elemento)

1
4.2
True
ada
[1, 2, 3]

In [14]:
for i in range(len(tupla)):
  print(i, tupla[i])

0 1
1 4.2
2 True
3 ada
4 [1, 2, 3]

Mas, como dissemos, a tupla é **imutável!** Assim, se tentarmos mudar algum dos seus elementos, teremos um erro:

In [18]:
tupla[0] = "Um"

TypeError: ignored

Para "alterar uma tupla", podemos fazer um procedimento bem forçado: primeiro, transformamos a tupla em lista; aí, alteramos a lista; depois, transformamos a lista de volta em tupla:

In [21]:
tupla

(1, 4.2, True, 'ada', [1, 2, 3])

In [24]:
lista = list(tupla)

lista[0] = "um"

tuple(lista)

('um', 4.2, True, 'ada', [1, 2, 3])

No entanto, note que a tupla original permaneceu inalterada:

In [26]:
tupla

(1, 4.2, True, 'ada', [1, 2, 3])

Outra utilidade de tuplas: fazer uma função **retornar mais de um valor**

In [27]:
def valor_valor_quadrado_valor_cubo(x):

  return x, x**2, x**3

In [28]:
valor_valor_quadrado_valor_cubo(2)

(2, 4, 8)

____
____
____

## 2) Dicionários

Uma outra estrutura de dados bem importante em Python são os **dicionários**.

O dicionário também é uma **coleção de dados**. 

A diferença é que um dicionário é definido a partir de **dois elementos**: uma **chave** e um **valor**.

- A **chave** é utilizada como se fosse um índice, identificando os respectivos valores. A diferença é que não precisamos indexar unicamente pela ordem dos elementos: as chaves podem ser qualquer tipo que é **imutável**, como um inteiro, float, strin, booleano, tuplas, etc.

- O **valor** pode ser qualquer dado: um int, um float, uma str, um bool, uma lista, uma tupla, outro dicionário... Temos total flexibilidade!

Dicionários são inicializados **entre chaves{}**, segundo a estrutura:

```python
dicionario = {"chave": valor}
```

In [29]:
lista = [2, 6, 9]

In [30]:
lista[1]

6

In [31]:
dicionario = {"a":2, "b":6, "c":9}

In [32]:
dicionario["b"]

6

Vamos começar a pensar no nosso **problema gerador**.

Imagine que você queira criar um cadastro, com três pessoas, que contenha as informações: nomes, idades, cidades, filhos, altura. 

Poderíamos estruturar este cadastro em termos de uma lista de listas:

In [1]:
# cadastro de nome, idade, cidade

cadastro = [["João", 20, "São Paulo"],
            ["Maria", 30, "Rio de Janeiro"],
            ["Marta", 15, "Salvador"]]

In [2]:
cadastro

[['João', 20, 'São Paulo'],
 ['Maria', 30, 'Rio de Janeiro'],
 ['Marta', 15, 'Salvador']]

In [10]:
cadastro[1][0]

'Maria'

Porém, neste caso, fica bem menos intuitivo quando queremos selecionar os elementos que representam nomes ou cidades, porque somos obrigado a usar números para indexar, ao invés das chaves.

Com dicionários, acabamos tendo uma estrutura de dados muito mais intuitiva:

In [39]:
cadastro

[['João', 20, 'São Paulo'],
 ['Maria', 30, 'Rio de Janeiro'],
 ['Marta', 15, 'Salvador']]

In [12]:
cadastro_dict = {"nomes": ["José", "Maria", "Marta"],
                 "idades": [20, 30, 15],
                 "cidades" : ["SP", "RJ", "Salvador"]}

cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'RJ', 'Salvador']}

Assim, vaso queiramos acessar os nomes, basta fazer:

In [13]:
cadastro_dict["nomes"]

['José', 'Maria', 'Marta']

Muito melhor, não é mesmo?

Para adicionar elementos ao dicionário, não precisamos de uma função pronta (como o append das listas). 

Basta definir a nova chave como uma variável, e atribuir um novo valor a ela:

In [14]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'RJ', 'Salvador']}

In [15]:
cadastro_dict["alturas"] = [1.8, 1.7, 1.6]

Automaticamente, o elemento criado é adicionado ao fim!

In [16]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'RJ', 'Salvador'],
 'alturas': [1.8, 1.7, 1.6]}

__Para apagar uma chave, utilize o "pop"__

In [17]:
cadastro_dict["alturas2"] = [1.8, 1.7, 1.6]

cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'RJ', 'Salvador'],
 'alturas': [1.8, 1.7, 1.6],
 'alturas2': [1.8, 1.7, 1.6]}

In [18]:
cadastro_dict.pop("alturas2")

[1.8, 1.7, 1.6]

In [19]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'RJ', 'Salvador'],
 'alturas': [1.8, 1.7, 1.6]}

__Ou, utilize o "del"__

In [20]:
del cadastro_dict["alturas"]

In [21]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'RJ', 'Salvador']}

Alterar os valores também é possível:

In [22]:
cadastro_dict["cidades"][1] = "JP"

Posso também alterar elementos individuais dos valores, os indexando

(Lembre-se que, neste caso, os valores são listas! Então, devo indexá-las para alterar seus elementos!)

In [23]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta'],
 'idades': [20, 30, 15],
 'cidades': ['SP', 'JP', 'Salvador']}

Para adicionar novos elementos aos valores (que são listas), usamos o append:

In [24]:
cadastro_dict["nomes"].append("Joaquim")
cadastro_dict["idades"].append(18)
cadastro_dict["cidades"].append("Santo André")

In [25]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta', 'Joaquim'],
 'idades': [20, 30, 15, 18],
 'cidades': ['SP', 'JP', 'Salvador', 'Santo André']}

Dicionários **são iteráveis**, ou seja, podem ser percorridos com um for. 

Ao fazer isso, **as chaves serão percorridas** 

Porém, a partir da chave obtém-se o valor:

In [26]:
for elemento in cadastro_dict:
  print(elemento)

nomes
idades
cidades

Uma utilidade disso é para pegar os dados respectivos de cada elemento do cadastro.

Isso é: suponha que queremos pegar todos os dados de determinada pessoa do cadastro, e os dispor em uma lista (como se fosse uma "linha" de uma tabela). Podemos fazer isso facilmente:

In [29]:
for chave in cadastro_dict:
    print(chave, cadastro_dict[chave])

nomes ['José', 'Maria', 'Marta', 'Joaquim']
idades [20, 30, 15, 18]
cidades ['SP', 'JP', 'Salvador', 'Santo André']

In [32]:
for chave in cadastro_dict:
  print(cadastro_dict[chave][2], end = ', ')

Marta, 15, Salvador,

In [36]:
# Apliquei analogia a uma tabela...

for coluna in cadastro_dict:
    print(cadastro_dict[coluna][0], end = ', ')

José, 20, SP,

In [43]:
# Salvando dados de uma pessoa...
arqv = []

for coluna in cadastro_dict:
    arqv.append(cadastro_dict[coluna][3])

# Encapsulando (protegendo) os dados coletados do dicionario...
arqvtuple = tuple(arqv)
arqvtuple

('Joaquim', 18, 'Santo André')

In [73]:
lista_marta = []
for chave in cadastro_dict:
  lista_marta.append(cadastro_dict[chave][2])

lista_marta

['Marta', 15, 'Salvador']

Também é possível acessar apenas os valores do dicionário com o método `values()`

In [44]:
cadastro_dict.values()

dict_values([['José', 'Maria', 'Marta', 'Joaquim'], [20, 30, 15, 18], ['SP', 'JP', 'Salvador', 'Santo André']])

In [48]:
for valor in cadastro_dict.values():
  print(valor[2], end = " ")

Marta 15 Salvador

In [58]:
print(cadastro_dict)
print("\n")

for valor in cadastro_dict.values():
  print(valor[2], valor, end = " ")

{'nomes': ['José', 'Maria', 'Marta', 'Joaquim'], 'idades': [20, 30, 15, 18], 'cidades': ['SP', 'JP', 'Salvador', 'Santo André']}


Marta ['José', 'Maria', 'Marta', 'Joaquim'] 15 [20, 30, 15, 18] Salvador ['SP', 'JP', 'Salvador', 'Santo André']

Usando compreensão de listas, fica ainda mais simples:

In [59]:
[valor[2] for valor in cadastro_dict.values()]

['Marta', 15, 'Salvador']

In [60]:
[cadastro_dict[chave][2] for chave in cadastro_dict]

['Marta', 15, 'Salvador']

É possível obter chaves e valores separadamente.

Para isso, usamos os métodos `keys()` e `values()`.

In [81]:
for chave in cadastro_dict:
  print(chave)

nomes
idades
cidades

In [80]:
for chave in cadastro_dict.keys():
  print(chave)

nomes
idades
cidades

In [82]:
for valor in cadastro_dict.values():
  print(valor[2])

Marta
15
Salvador

In [78]:
for chave, valor in cadastro_dict.items():
  print(chave, valor)

nomes ['José', 'Maria', 'Marta', 'Joaquim']
idades [20, 30, 15, 18]
cidades ['SP', 'JP', 'Salvador', 'Santo André']

E esses valores podem ser transformados em listas com a função `list()`

In [84]:
list(cadastro_dict.keys())

['nomes', 'idades', 'cidades']

In [86]:
list(cadastro_dict.values())

[['José', 'Maria', 'Marta', 'Joaquim'],
 [20, 30, 15, 18],
 ['SP', 'JP', 'Salvador', 'Santo André']]

### Spoiler: pandas!

O dicionário de cadastro que criamos é muito parecido com uma tabela, onde as chaves são as colunas e os valores são as linhas, com dados de cada um dos clientes, não é mesmo?

No entanto, usando dicionários puramente, essa **estrutura tabular** não é tão clara, nem operacionalmente utilizada com facilidade...

Para que isso seja possível, existe uma biblioteca muito poderosa, que conheceremos em detalhes mais a frente no curso: a biblioteca [pandas](https://pandas.pydata.org/)!

Vamos vê-la em ação, como um pequeno spoiler:

In [90]:
cadastro_dict

{'nomes': ['José', 'Maria', 'Marta', 'Joaquim'],
 'idades': [20, 30, 15, 18],
 'cidades': ['SP', 'JP', 'Salvador', 'Santo André']}

In [93]:
import pandas as pd

df = pd.DataFrame(cadastro_dict)

df

     nomes  idades      cidades
0     José      20           SP
1    Maria      30           JP
2    Marta      15     Salvador
3  Joaquim      18  Santo André

In [94]:
df["nomes"]

0       José
1      Maria
2      Marta
3    Joaquim
Name: nomes, dtype: object

In [96]:
df.loc[1]

nomes      Maria
idades        30
cidades       JP
Name: 1, dtype: object

____
____
____
___

____
____
____

## 3) Conjuntos

Por fim, vamos conhecer rapidamente um último tipo importante de estrutura de dados em Python: os **conjuntos**.

As principais características dessa esturutra de dados é que ela é: não ordenada, com elementos únicos, iterável, mutável (em termos de adição e remoção de elementos, mas seus elementos são imutáveis), e não indexável.

Vamos ver na prática cada uma destas propriedades! Mas, antes disso, é importante saber que definimos conjuntos com o uso de uma sequência de valores entre chaves {} (e, como não há o par chave: valor, não há confusão com dicionários!):

In [99]:
conjunto = {"a", True, 42, 3.14}

conjunto

{3.14, 42, True, 'a'}

Um conjunto não é ordenado:

In [100]:
conjunto

{3.14, 42, True, 'a'}

Um conjunto é iterável:

In [101]:
for elemento in conjunto:
  print(elemento)

3.14
True
42
a

Um conjunto **não é indexável!**

In [102]:
conjunto[2]

TypeError: ignored

Podemos alterar um conjunto, ao adicionar e/ou remover elementos dele:

In [103]:
conjunto.add(14)

In [104]:
conjunto

{14, 3.14, 42, True, 'a'}

In [105]:
conjunto.remove(14)

In [106]:
conjunto

{3.14, 42, True, 'a'}

No entanto, dado que o conjunto não é indexável, não é possível alterar elementos (afinal, como saberíamos que elemento alterar?)

Por fim, conjuntos armazenam apenas os **elementos únicos** de uma coleção. Veja:

In [107]:
["a", True, 42, 3.14, "a", True, 42, 42, 42, "a"]

['a', True, 42, 3.14, 'a', True, 42, 42, 42, 'a']

In [67]:
conjunto2 = {"a", True, 42, 3.14, "a", True, 42, 42, 42, "a"}

conjunto2

{3.14, 42, True, 'a'}

Isso pode ser útil, por exemplo, caso queiramos saber quais os elementos únicos de uma lista!

Considere uma lista de notas em uma prova, numa turma com 40 alunos:

In [109]:
notas = [9, 0, 6, 6, 0, 8, 2, 0, 3, 9,
         2, 3, 5, 4, 3, 9, 8, 5, 6, 2,
         7, 3, 5, 5, 9, 6, 3, 7, 3, 9,
         7, 2, 9, 5, 5, 4, 6, 6, 5, 5]

Para sabermos quais as notas únicas, basta converter a lista para um conjunto, com o construtor `set()`:

In [110]:
set(notas)

{0, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
list(set(notas))

[0, 2, 3, 4, 5, 6, 7, 8, 9]

Há, ainda, outras utilidades de conjuntos, que é o que de fato faz com que esta estrutura de dados receba este nome: ela se comporta como os **conjuntos matemáticos**, o que faz com que seja possível determinarmos a intersecção, união, diferença, etc., entre conjuntos de valores!

Considere duas listas, que compartilham alguns elementos:

In [71]:
l1 = ["ada", "python", "dados", 2, 4]
l2 = ["web", "python", "devops", 42, 4]

Quais os elementos comuns às duas listas?

In [72]:
set(l1).intersection(set(l2))

{4, 'python'}

Ou pode ser feito desta maneira também.

In [73]:
pooxset(l1).intersection(set(l2))

NameError: name 'pooxset' is not defined

Qual a união das listas (sem repetir elementos)?

In [116]:
set(l1).union(set(l2))

{2, 4, 42, 'ada', 'dados', 'devops', 'python', 'web'}

Qual a diferença entre as listas (isto é, elementos que existem em uma lista e não na outra?)

In [117]:
set(l1).difference(set(l2))

{2, 'ada', 'dados'}

In [118]:
set(l2).difference(set(l1))

{42, 'devops', 'web'}

In [120]:
set(l2) - set(l1)

{42, 'devops', 'web'}

Essas operações são todas muito úteis quando estamos trabalhando com dados!

E é isso, agora você conhece as 4 **estruturas de dados** nativas do Python, utilizadas para armazenar coleções de valores: listas, tuplas, dicionários e conjuntos. Muito bem!

In [79]:
n1, n2, n3 = (1, 2, 3)

type(n1)

# print(n1, n2, n3)

int